<div id="footer">
  <h3> Bekijk de website <a href="https://immense-savannah-21345.herokuapp.com/">hier</a> online </h3>
</div>
  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
