
<div id="footer">
  <h3> Bekijk de website <a href="https://immense-savannah-21345.herokuapp.com/">hier</a> online </h3>
  <h3> Over Soundbitez </h3>
  <p> Soundbitez is dé website voor de echte muziekliefhebber. Van The Beatles tot Nirvana, van The Rolling Stones tot Kensington en van Pink Floyd tot Muse: Soundbitez staat vol interviews en achtergrondverhalen over de helden van toen, nu en morgen. Hiernaast lees je alles over nieuwste albums en leggen we de laatste audio-apparatuur onder de loep.</p>
</div>
  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
